body {
    font-family: Garamond, serif;
    background-color: #DBE2EF;
}

h1,
h2 {
    background-color: #112D4E;
    color: #F9F7F7;
    font-weight: bold;
}

p,
li {
    font-size: 20px;
}

h1 {
    font-size: 42px;
    text-align: center;
    margin: -10px -10px 0px -10px;
    padding: 20px;
}

h1 a {
    color: #F9F7F7;
    text-decoration: none;
}

h2 {
    margin: 0px -10px 0px -10px;
    padding: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: block;
    font-size: 28px;
    color: #112D4E;
    text-align: center;
    font-weight: bold;
    width: 500px;
    margin: 20px auto 20px auto;
    padding: 30px;
    border: 2px solid #112D4E;
    text-decoration: none;
}
